<h1><%= @title %></h1>
<div id="winnerButton">Choose Winner</div><br />
<table border="0" cellpadding="0" cellspacing="10" class="list" id="winnerTable">
<% @entries.each_with_index do |entry, i| %>
	<tr<%= ' class="alt"' if i%2==0 %>>
		<td id="entry-<%= i %>"><p class="entry-<%= i %>"><%= i %> : R12500<%= entry.id %></p></td>
<% end %>
</table>
<div id="drawn">
</div>